[Package]
version: 1
depends:

[Product]
type: localboot
id: opsi-client-agent
name: opsi.org client agent
description: opsi windows client agent
advice:
version: 4.1.1.40
priority: 95
licenseRequired: False
productClasses:
setupScript: files\opsi\setup.opsiscript
uninstallScript: files\opsi\uninst\uninstall.opsiscript
updateScript: files\opsi\config.opsiscript
alwaysScript:
onceScript:
customScript:
userLoginScript:

[ProductProperty]
type: unicode
name: loginblockerstart
multivalue: False
editable: False
description: Block user login for the time of opsi task execution
values: ["off", "on"]
default: ["on"]

[ProductProperty]
type: bool
name: allow_reboot
description: Allow to reboot machine after installation/update?
default: True

[ProductProperty]
type: unicode
name: on_shutdown_install
multivalue: False
editable: False
description: Install and configure on_shutdown ?
values: ["off", "on"]
default: ["off"]

[ProductProperty]
type: unicode
name: on_shutdown_install_set_policy
multivalue: False
editable: False
description: set policy (registry patch) for on_shutdown_install. (Otherwise set shutdown script with your own Group Policies)
values: ["off", "on"]
default: ["on"]

[ProductProperty]
type: unicode
name: depends_on_service
multivalue: True
editable: True
description: List of services that have to started before opsiclientd
values: ["Dhcp", "Dnscache"]
default: ["Dhcp", "Dnscache"]

[ProductProperty]
type: unicode
name: setup_after_install
multivalue: True
editable: True
description: Which opsi product(s) should we switch to setup after installation is done ?
values: []
default: []

[ProductProperty]
type: unicode
name: services_pipe_timeout
multivalue: False
editable: True
description: For opsiclientd startup Error (1053) "The service did not respond to the start or control request in a timely fashion." set this to 60000 or more. Timeout in milliseconds; Sets ServicesPipeTimeout in HKLM\SYSTEM\CurrentControlSet\Control
values: ["120000", "200000", "30000", "60000", "90000", "delete", "nochange"]
default: ["nochange"]

[ProductProperty]
type: bool
name: systray_install
description: Install the opsi systray program ?
default: False

[ProductProperty]
type: unicode
name: systray_check_interval
multivalue: False
editable: True
description: Interval in minutes to check for pending action requests ; 0 = no checks at all
values: ["0", "120", "180", "240", "300", "60"]
default: ["180"]

[ProductProperty]
type: unicode
name: systray_request_notify_format
multivalue: False
editable: False
description: Format of action request notification
values: ["productid : request", "productname : request", "productname productversion : request"]
default: ["productname : request"]

[ProductProperty]
type: bool
name: update_mac_address_on_normal_setup
description: true=MAC Address from the Network Interface that communicates with opsi will be send to the opsi-server if it do not look like a wifi interface. false=Never send MAC but in install mode
default: True

[ProductProperty]
type: bool
name: start_opsiclientd_guard
description: Start service opsiclientdguard?
default: True

[ProductProperty]
type: bool
name: fix_rights_on_c_tmp
description: Fix access rights on c:\tmp
default: False

[ProductProperty]
type: bool
name: fix_rights_on_wan_cache
description: Fix access rights on c:\opsi.org\cache
default: False

