[Package]
version: 1
depends:

[Product]
type: localboot
id: opsi-client-agent
name: opsi.org client agent
description: opsi windows client agent
advice:
version: 4.2.0.39
priority: 95
licenseRequired: False
productClasses:
setupScript: setup.opsiscript
uninstallScript: files/uninst/uninstall.opsiscript
updateScript:
alwaysScript:
onceScript:
customScript:
userLoginScript:

[ProductProperty]
type: unicode
name: loginblockerstart
multivalue: False
editable: False
description: Install opsi login blocker (credential provider / filter)?
values: ["off", "on"]
default: ["on"]

[ProductProperty]
type: bool
name: allow_reboot
description: Allow restarting the computer after installation or update?
default: True

[ProductProperty]
type: unicode
name: setup_after_install
multivalue: True
editable: True
description: Which opsi packages should be set to setup after installation?
values: []
default: []

[ProductProperty]
type: bool
name: systray_install
description: Should opsi systray be installed?
default: False

[ProductProperty]
type: unicode
name: systray_check_interval
multivalue: False
editable: True
description: Interval in minutes in which checks are made for pending action requests (0 = no check).
values: ["0", "120", "180", "240", "300", "60"]
default: ["180"]

[ProductProperty]
type: unicode
name: systray_request_notify_format
multivalue: False
editable: False
description: Action request message format
values: ["productid : request", "productname : request", "productname productversion : request"]
default: ["productname : request"]

